mixin highlight(slice)
  .highlight(class="highlight-type-"+slice.primary.highlight_class)
    .highlight-wrapper.container
      .highlight-item
        if slice.primary.highlight_title
          h1.highlight-title!= PrismicDOM.RichText.asText(slice.primary.highlight_title, ctx.linkResolver)
        if slice.primary.highlight_text
          .highlight-text(class="alert-"+slice.primary.highlight_class)!= PrismicDOM.RichText.asHtml(slice.primary.highlight_text, ctx.linkResolver)
        